body{
	margin: 0;
	padding: 0;
	background-image: url(images/blackboard-background.jpg)
}

.main{
	height: 95vh;	
	text-align: center;
	color: white;
	font-family: Verdana;
}

.container{
	padding-top: 3vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	font-size: 1vw;
}

.pessoa{
	display: flex;
	flex-direction: column;
	border: 2px solid white;
}

.imagem img{
	width: 192px;
	height: 184px;
}

.texto{
	text-align: center;
}

.pessoa a{
	text-decoration: none;
	color: white;
}

.footer{
	
	color: white;
	font-family: Lucida Sans Typewriter;
	font-size: 2vh;
	text-align: right;
	margin-right: 1vw;
	margin-top: 1vh;

}

.footer a{
	text-decoration: none;
	color: #987284;
}